body {
  margin: 0;
  background-image: url("https://i.pinimg.com/1200x/8a/8e/2f/8a8e2fa6ad038a7749a6d41ca2542568.jpg");
  background-repeat: initial;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 10px;   
}

.btn{
  text-decoration: none;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 2%;
  left: 1%;
  width: 8%;
  height: 60px;
  background: red;
  border-radius: 10px;
  color: white;
  border-style: inset;
  cursor: pointer;
  transition: left 0.2s;

}


.btn:hover{
  background: linear-gradient(to left, yellow, red, yellow);
  box-shadow: 5px 5px rgb(0, 0, 0, 0.8);
}


header{
  text-align: center;
  letter-spacing: 5px;
  color: black;
  font-size: 35px;
  margin-top: 20px;
  color: black;
  text-shadow: 0 7px 7px rgb(0, 0, 0, 0.8);
}
p{
  text-align: center;
  font-style: oblique;
  letter-spacing: 2px;
  color: black;
  font-size: 20px;
  text-shadow: 0 7px 5px rgb(0, 0, 0, 0.8);
}


.turismo {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 50px;
}

 /* Esta linea sirve para darle estilo a las imagenes y organizar */
.turismo img { 
  width: 30%;
  height: 20rem;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 10);
  transition: transform 0.3s ease;
  outline: none;
}

.turismo img:hover {
  box-shadow: -0px 25px 20px rgba(0, 0, 0, 10); 
  transform: scale(1.1);
}

pre{
  font-size: 20px;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 20px;
  border-radius: 20px;
  border: 3px inset white;
  background-color: rgba(0,0,0,10);  /* fondo semitransparente */
  background: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button{
  background-color: green;
  color: white;
  border-style: none;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 0 5px 6px black;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 10);
  height: 50px;
  width: fit-content;
  transition: transform 0.4s ease;
  margin: 30px;
  cursor: pointer;
}

button:hover{
  background: linear-gradient(40deg, green, white);
  color: black;
  transform: scale(1.5);
}