
body {
background-image: url("https://i.pinimg.com/736x/2b/31/fe/2b31fe23771acb1af9684ff1c66f0e8e.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  height: 100vh;                     
}




.texto{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    line-height: 1.1;
    transform: translate(-50%, -50%);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: white;
    white-space: 3px;
    line-height: 1.5;
    width: 50%;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    margin-top: 5%;
    background: rgb(255, 255, 255, 10);
    border: 1px solid rgba(255, 255, 255, 10);
    z-index: 10;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);  /* fondo semitransparente */
    padding: 10px;
    border-radius: 8px;
}



.btn{

}

.btn button{
    position: fixed;
    background-color: blue;
    border-style: none;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.8);
    border: 2px solid white;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    height: 50px;
    transition: transform 0.3s ease;
    cursor: pointer;
    margin:10px;
}

.btn button:hover{
    color: blue;
    background-color: white;
    border: 2px solid blue;
    transform: scale(1.1);
}



